project_id = "ximxgnkpcswbvfrkkmjq"

[functions.send-message]
verify_jwt = false

[functions.stripe-create-checkout]
verify_jwt = false

[functions.stripe-webhook]
verify_jwt = false

[functions.stripe-connect-onboard]
verify_jwt = false

[functions.stripe-connect-status]
verify_jwt = false

[functions.invoice-pdf]
verify_jwt = false

[functions.send-invoice-email]
verify_jwt = false